In [1]:
import pandas as pd

In [18]:
dataset = pd.read_csv("BostonHousing.csv")
dataset.head(5)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIST,RAD,TAX,PTRATIO,B,LSTAT,House_Price
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [28]:
input_data = dataset.iloc[ : , : -1]  # this is data which we have to ml model as input
input_data

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIST,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88

In [37]:
dataset.shape

(506, 14)

In [29]:
output_data = dataset["House_Price"] # Data that is given  by Ml model as output
output_data

0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
       ...
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9
Name: House_Price, Length: 506, dtype: float64

In [30]:
# Data spliting - Train and Test
from sklearn.model_selection import train_test_split

In [31]:
x_train , x_test , y_train , y_test = train_test_split(input_data , output_data , test_size=0.25)

x_test

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIST,RAD,TAX,PTRATIO,B,LSTAT
262,0.52014,20.0,3.97,0,0.6470,8.398,91.5,2.2885,5,264,13.0,386.86,5.91
401,14.23620,0.0,18.10,0,0.6930,6.343,100.0,1.5741,24,666,20.2,396.90,20.32
447,9.92485,0.0,18.10,0,0.7400,6.251,96.6,2.1980,24,666,20.2,388.52,16.44
265,0.76162,20.0,3.97,0,0.6470,5.560,62.8,1.9865,5,264,13.0,392.40,10.45
63,0.12650,25.0,5.13,0,0.4530,NaN,43.4,7.9809,8,284,19.7,395.58,9.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...
118,0.13058,0.0,10.01,0,0.5470,5.872,73.1,2.4775,6,432,17.8,338.63,15.37
101,0.11432,0.0,8.56,0,0.5200,6.781,71.3,2.8561,5,384,20.9,395.58,7.67
388,14.33370,0.0,18.10,0,0.7000,4.880,100.0,1.5895,24,666,20.2,372.92,30.62
332,0.03466,35.0,6.06,0,0.4379,6.031,23.3,6.6407,1,304,16.9,362.25,7.83
470,4.34879,0.0,18.10,0,0.5800,6.167,84.0,3.0334,24,666,20.2,396.90,16.29

In [32]:
y_train

144    11.8
116    21.2
340    18.7
104    20.1
34     13.5
       ...
90     22.6
328    19.3
456    12.7
381    10.9
103    19.3
Name: House_Price, Length: 379, dtype: float64

In [33]:
x_test

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIST,RAD,TAX,PTRATIO,B,LSTAT
262,0.52014,20.0,3.97,0,0.6470,8.398,91.5,2.2885,5,264,13.0,386.86,5.91
401,14.23620,0.0,18.10,0,0.6930,6.343,100.0,1.5741,24,666,20.2,396.90,20.32
447,9.92485,0.0,18.10,0,0.7400,6.251,96.6,2.1980,24,666,20.2,388.52,16.44
265,0.76162,20.0,3.97,0,0.6470,5.560,62.8,1.9865,5,264,13.0,392.40,10.45
63,0.12650,25.0,5.13,0,0.4530,NaN,43.4,7.9809,8,284,19.7,395.58,9.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...
118,0.13058,0.0,10.01,0,0.5470,5.872,73.1,2.4775,6,432,17.8,338.63,15.37
101,0.11432,0.0,8.56,0,0.5200,6.781,71.3,2.8561,5,384,20.9,395.58,7.67
388,14.33370,0.0,18.10,0,0.7000,4.880,100.0,1.5895,24,666,20.2,372.92,30.62
332,0.03466,35.0,6.06,0,0.4379,6.031,23.3,6.6407,1,304,16.9,362.25,7.83
470,4.34879,0.0,18.10,0,0.5800,6.167,84.0,3.0334,24,666,20.2,396.90,16.29

In [34]:
y_test

262    48.8
401     7.2
447    12.6
265    22.8
63     25.0
       ...
118    20.4
101    26.5
388    10.2
332    19.4
470    19.9
Name: House_Price, Length: 127, dtype: float64

In [35]:
{x_train.shape}

{(379, 13)}

In [36]:
{x_test.shape}

{(127, 13)}

In [ ]:
# 75 percent of data comes in training
(379/506)* 100

74.90118577075098